.left{

font-weight: bold;
font-family: Trebuchet MS;

/*padding-left: 20px;*/
font-size: 14px;
}

.left{
	display: inline-block;
}

 ul,li,a {

 	text-decoration: none;
 } 

 ul {
 	list-style-type: none;
 }

 li {
 	display: inline-block;
 	text-align: right;
 }
 .right {

 	float: right;
 	padding-right: 10px;
 }